language: objective-c
script:
- openssl version -a
- ls -l /usr/local/opt/openssl
- openssl ciphers -v | awk '{print $2}' | sort | uniq
- curl --user "Lyoness" --request POST --data '{"description":"Created via API","public":"true","files":{"file1.txt":{"content":"Demo"}}' https://api.github.com/gists

matrix:
  include:
  - os: osx
    osx_image: xcode6.4
  - os: osx
    osx_image: xcode7
  - os: osx
    osx_image: xcode8
  - os: osx
    osx_image: xcode8.1
  - os: osx
    osx_image: xcode8.2
  - os: osx
    osx_image: xcode8.3
  - os: osx
    osx_image: xcode9
  - os: osx
    osx_image: xcode9.1
  - os: osx
    osx_image: xcode9.2
  - os: osx
    osx_image: xcode9.3beta
  - os: osx
    osx_image: xcode9.3-lite
  - os: osx
    osx_image: xcode9.3-moar
